<h1>Login</h1>

<%= form_for @user, url: url_for(controller: 'sessions', action: 'create') do |f| %>

<% if @user.errors.any? %>
    <div id="error_explanation" class="errors">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Select your name" %><br>
    <%= f.collection_select(:id, @users, :id, :name) %>
  </div><br>

  <div class="field">
  <%= f.submit 'Sign In'%>
  </div><br>
<% end %>
